<div class="row">
    <div class="col">
    <h1>{{title}}</h1>
        <form ng-submit="addCafe()">
            <input type="text" ng-model="businessName">
            <input type="text" ng-model="businessAddress">
            <input type="text" ng-model="latitude">
            <input type="text" ng-model="longitude">
            <input type="text" ng-model="businessPhone">
            <input type="submit" value="Add Cafe">
        </form>
        <button class="btn btn-alert" ng-click="getYelpCafe()">Add Yelp Data</button>
    </div>
</div>
    