<div class="row">
    <div class="col">
    <h1>{{title}}</h1>
        <form ng-submit="addCafe()">
            <input type="text" ng-model="businessName"><label>business name</label>
            <input type="text" ng-model="businessAddress"><label>business address</label>
            <input type="text" ng-model="latitude"><label>latitude</label>
            <input type="text" ng-model="longitude"><label>longitude</label>
            <input type="text" ng-model="businessPhone"><label>business phone</label>
            <input type="submit" value="Add Cafe"><label>add cafe</label>
        </form>
        <button class="btn btn-danger" ng-click="getYelpCafe()">Add Yelp Data</button>
        <button class="btn btn-info" ng-click="upvote()">Add Upvote</button>
        <button class="btn btn-primary" ng-click="get()">Get data</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="button-block" ng-repeat="cafe in yelpCafeKeys" ng-click="upvote(cafe)">{{yelpCafes[cafe].businessName}} {{yelpCafes[cafe].voteCount}}</button>
    </div>
</div>